MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=marketlens_clientes
PORT=3080

LENS_MYSQL_HOST=
LENS_MYSQL_PORT=3306
LENS_MYSQL_USER=
LENS_MYSQL_PASSWORD=
LENS_MYSQL_DATABASE=lensrewards

EXTRACT_MYSQL_HOST=
EXTRACT_MYSQL_PORT=3306
EXTRACT_MYSQL_USER=
EXTRACT_MYSQL_PASSWORD=
EXTRACT_MYSQL_DATABASE=extracciones

API_MYSQL_HOST=
API_MYSQL_PORT=3306
API_MYSQL_USER=
API_MYSQL_PASSWORD=
API_MYSQL_DATABASE=apiv2
LOGOS_DIR=/app/logos
